.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.bg-white {
  background-color: white;
}
.text-gray {
  color: #707070;
}
.header-container {
  height: 78px;
}
.order-list-container {
  background: #fbfbfb;
  padding: 30px 137px;
}
.change-color-btn {
  background-color: #f38b08;
  color: white;
  font-size: 16px;
  line-height: 24px;
  width: fit-content;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
border: 1px solid #f38b08;
cursor: pointer;

}
.change-color-btn:hover {
  background-color: white;
  color: #f38b08;
border: 1px solid #f38b08;
}
.order-name {
  color: #333333;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.order-sum-hd {
  background-color: white;
  padding: 10px;
  margin: 20px 0;
}
.arrow-back {
  background-color: #eeeeee;
  color: #0000008a;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.save-btn-dsbl {
  background-color: #eeeeee;
  color: #0000008a;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.css-my-text-gray-1 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.css-my-text-gray-2 {
  color: #707070;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.complete-green {
  background: #00ae261a;
  color: green;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}

.online-orange {
  background: #f38b081a;
  color: #f38b08;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}
.css-btn-2 {
  border: 1px solid #eeeeee;
  color: black;
  font-weight: 400;
  padding: 8px;
  cursor: pointer;
}
.border-gray {
  border-bottom: 1px solid #eeeeee;
  margin: 10px 0;
}
.border-gray-dash {
  border-bottom: 3px dashed #ababab;
  margin: 10px 0;
}
.border-gray-dash-0 {
  border-bottom: 1px dashed #ababab;
  margin: 10px 0;
}
.non-veg-logo {
  border: 1px solid red;
  color: red;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.veg-logo {
  border: 1px solid green;
  color: green;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-name-d {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.item-desc-d {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #ababab;
}
.price-d {
  font-size: 12px;
  font-weight: 500;
  line-height: 19.2px;
}

.lightgraybutton {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  padding: 4px 8px;
  border-radius: 4px !important;
  border: 1px solid #eeeeee !important;
  text-transform: none !important;
  color: #ABABAB !important;
}

.lightgraybutton:hover {
  border-color: "#D9D9D9";
  background-color: rgba(255, 165, 0, 0.04);
}

.deliverymandiv {
  width: 100%;
  margin-bottom: 10px;
}

.deliverymandesc {
  font-size: 13px;
  font-weight: 400;
  color: #707070;
  font-family: "Poppins";
  margin-top: 15px;
}

.deliveryheading {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins";
  color: black;
}

@media (max-width: 985px) {
  .order-list-container {
    padding: 10px;
  }
}
