.header-container {
  height: 78px;
}
.order-list-container {
  background: #fbfbfb;
  padding: 30px 137px;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  color: #333; /* Change font color */
  font-size: 16px; /* Change font size */
}
.css-1r7xean-MuiDataGrid-root {
  border: none !important;
}
.MuiDataGrid-columnHeaderTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 985px) {
    .order-list-container{
        padding: 10px;
    }
}
