.container{
  max-width: 1440px;
  margin: auto;
  font-family: 'poppins';
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #f38b08 !important;
  width: 32px;
  height: 32px;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: #ffffff !important;
  border: 1px solid #eeeeee !important;
  width: 32px !important;
  height: 32px !important;
  border-radius: 50% !important;
}
.css-jrt90d-MuiStepIcon-text {
  fill: #ababab !important;
  font-size: 16px;
}
.lightOrange-btn {
  color: #f38b08 !important;
  border: 1px solid #f38b08 !important;
  padding: 4px 8px;
}
.activebutton {
  color: #f38b08 !important;
  border: 1px solid #f38b08 !important;
  padding: 4px 8px;
  cursor: pointer;
  background-color: white !important;
}
.lightOrange-btn:hover{
  color: white !important;
  border: 1px solid #F38B08 !important;
  background-color: #F38B08 !important;
}
.css-pa{
  padding: 8px 40px;
}
.text-title-bold{
  color: #333333;
  font-size: 24px;
  font-weight: 600;
}

.nameText {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.emailText {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  display: flex;
  margin-bottom: 10px;
}
.phoneText {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  display: flex;
  margin-bottom: 10px;
}
.cardIconStyle {
  width: 18px !important;
  height: 18px !important;
  margin-right: 10px;
  color: #ABABAB;
}
@media (max-width: 985px) {
  .css-pa {
    padding: 8px 5px;
  }
  .text-title-bold{
    font-size: 18px;
  }
  .order-name{
    font-size: 16px;
  }
}
