.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #f38b08 !important;
  width: 32px;
  height: 32px;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: #ffffff;
  border: 1px solid #eeeeee;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.css-jrt90d-MuiStepIcon-text {
  fill: #ababab !important;
  font-size: 16px;
}
